[submodule "rapid-lib"]
	path = rapid-lib
	url = https://github.com/mnieper/rapid-lib.git
[submodule "rapid-read"]
	path = rapid-read
	url = https://github.com/mnieper/rapid-read.git
[submodule "rapid-expansion"]
	path = rapid-expansion
	url = https://github.com/mnieper/rapid-expansion.git
[submodule "scheme-reader"]
	path = scheme-reader
	url = git@github.com:mnieper/scheme-reader
[submodule "scheme-lib"]
	path = scheme-lib
	url = git@github.com:mnieper/scheme-lib
[submodule "scheme-expander"]
	path = scheme-expander
	url = git@github.com:mnieper/scheme-expander
